:root{
    --main-color: #1D1D1B;
    --nav-buttons-color: #FFFBFF;
    --body-background-color: #000500;
    --header-background-color: #000500;
    --hover-button-color: #c2c0bf;
    --videogame-showcase-background-color: #1D1D1B;
}
/*--main-color: #245E55;*/
/*--header-background-color: #1D1D1B*/
/*--body-background-color: #EAE4DA;*/
/*--nav-buttons-color: #808BC5;*/